matplotlib>=3.6.0
easyfsl>=1.1.0
torch==1.12.1
torchvision==0.13.1
googletrans>=4.0.0-rc1  
tqdm>=4.64.1
pytest>=7.1.3
loguru>=0.6.0
pynvrtc>=9.2
scipy>=1.9.2
imageio>=2.22.1
typer>=0.7.0
opencv-python>=4.7.0.68
